<h2>Últimos Videos</h2>
<ul class='videos_list'>
  {{#videos}}
  <li>
    <a href="{{url}}">
      <figure>
        <img alt="330x300" src="{{image}}" />
        <figcaption>{{title}}</figcaption>
      </figure>
    </a>
  </li>
  {{/videos}}
</ul>
<a class="btn_all_videos" href="http://vimeo.com/groups/210882">Ver todos los videos</a> 
